@model IEnumerable<InTimeCourier.Models.CorrierDetails>

@{
    ViewBag.Title = "CourrierList";
    var loggedInUser = (InTimeCourier.Models.AdminUser)Session["LoggedInUser"];
}
<style>
    .ajaxLoader {
        outline-style: none;
        outline-color: invert;
        outline-width: 0px;
        width: 104px;
        height: 104px;
        position: absolute;
        z-index: 10000;
        background-image: url("../../Content/ajax-loader.gif");
    }

    @@media screen and (min-width: 768px) {
        .modal-dialog1 {
            right: auto;
            left: auto;
            width: 60%;
            padding-top: 30px;
            padding-bottom: 30px;
            margin-left: auto;
            margin-right: auto;
        }
    }
</style>
<h2>Courrier List</h2>

<p>
    @Html.ActionLink("Create New Courrier", "AddCourrier")
</p>
<div class="col col-lg-12">
    @{Html.RenderAction("SearchCorier", "CourierDetails");}
</div>
<hr />
@{Html.RenderAction("SearchList", "CourierDetails");}


<div id="grid">
    @*<div id="divAjaxLoader" class="ajaxLoader"></div>*@
</div>
<div>

</div>
<div id="recieptModal" style="display: none" align="center">
    <div class="modal-body">
        <div class="modal-body" id="divReciept">
            <table class="table table-bordered" style="width:100%;">
                <tr>
                    <td colspan="2">
                        <center>
                            <h1>@loggedInUser.Name</h1>
                            <h4>@loggedInUser.Address1, @loggedInUser.Address2, @loggedInUser.City, @loggedInUser.State-@loggedInUser.Pincode.</h4>
                            <h4>
                                Tel :+91 @loggedInUser.MobileNo  @if (loggedInUser.AlternateContact != null)
                                {<span>/ +91 @loggedInUser.AlternateContact</span>}
                            </h4>
                            <h4>Email Id: @loggedInUser.EmailId</h4>
                        </center>
                    </td>
                </tr>
                <tr>
                    <td width="70%;">
                        <b>M/s: </b><label id="lblPartyName"></label><br />
                        <label id="lblAddress"></label>
                        <label id="lblContact"></label><br />
                        <b>Party G.S.T. No. :</b><label id="partyGSTNumber"></label>
                    </td>
                    <td width="30%;">
                        <b>Bill No: </b><label id="lblBillNo"></label><br />
                        <b>Bill Date: </b>
                        <label id="lblBillDate"></label>
                    </td>
                </tr>
                <tr style="height:250px;">
                    <td>
                        Charges for courier service rendered during the period <br />from
                        <label id="lblFromDate"></label> To <label id="lblToDate"></label>
                        <p style="bottom: 0;left: 0;"><b>GSTIN/UIN :-</b> @loggedInUser.GSTNumber</p>
                    </td>
                    <td style="text-align:right">
                        <label id="lblBillAmount"></label>
                    </td>
                </tr>
                <tr>
                    <td><b>Net Total</b></td>
                    <td style="text-align:right"><label id="lblBillNetTotal"></label></td>
                </tr>
                <tr>
                    <td><b>Discount</b></td>
                    <td style="text-align:right"><label id="lblBillDiscount"></label></td>
                </tr>
                <tr>
                    <td><b>Total</b></td>
                    <td style="text-align:right"><label id="lblBillTotal"></label></td>
                </tr>
                <tr>
                    <td>Fuel Charges (<label id="lblPartyFuelCharges"></label>)</td>
                    <td style="text-align:right"><label id="lblBillFullCahrges"></label></td>
                </tr>
                <tr id="trBillCGST">
                    <td>C.G.S.T. (9%)</td>
                    <td style="text-align:right">
                        <label id="lblCGST"></label>
                        <input type="hidden" id="hiddenCGST" />
                    </td>
                </tr>
                <tr id="trBillSGST">
                    <td>S.G.S.T. (9%)</td>
                    <td style="text-align:right">
                        <label id="lblSGST"></label>
                        <input type="hidden" id="hiddenSGST" />
                    </td>
                </tr>
                <tr id="trBillIGST">
                    <td>I.G.S.T. (18%)</td>
                    <td style="text-align:right"><label id="lblIGST"></label></td>
                </tr>
                <tr>
                    <td><b>Grand Total</b></td>
                    <td style="text-align:right"><label id="lblBillGrandTotal"></label></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <b>In Word:- </b>   <label id="divDisplayWords"></label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <th colspan="2">Bank Details</th>
                            </tr>
                            <tr>
                                <th>Company Name</th>
                                <td>:- @loggedInUser.Name</td>
                            </tr>
                            <tr>
                                <th>Bank Name</th>
                                <td>:- @loggedInUser.BankName</td>
                            </tr>
                            <tr>
                                <th>Account No</th>
                                <td>:- @loggedInUser.AccountNumber</td>
                            </tr>
                            <tr>
                                <th>IFSC Code</th>
                                <td>:- @loggedInUser.IFSCCode</td>
                            </tr>
                            <tr>
                                <th>Branch</th>
                                <td>:- @loggedInUser.BranchName</td>
                            </tr>
                            <tr>
                                <th>PAN</th>
                                <td>:- @loggedInUser.PANNumber</td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <br /><br /><br /><br />
                        <h4>For @loggedInUser.Name</h4>
                    </td>
                </tr>
            </table><br />
            <h5><b>Note :-</b>Please pay your will within 10 days from your Bill date, Otherwise we charges 24% on grand total </h5>

        </div>
        <div class="modal-footer">
            <button type="button" id="btnPrintReciept" class="btn btn-primary">Print Reciept</button>
        </div>
    </div>
</div>
<div id="divUpdateCourrier" class="modal fade" role="dialog">
    <div class="modal-dialog1 modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" id="btnCross">&times;</button>
                <h4 class="modal-title">Update Courrier Details</h4>
            </div>
            <div class="modal-body" id="modalBody">

            </div>
            <!--<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="btnClose">Close</button>-->
            @*<button type="button" class="btn btn-success" data-dismiss="modal" id="btnSaveCourrier">Save</button>*@
            <!--<input type="hidden" id="hdnCourrierId" />
                <input type="hidden" id="hdnCreatedBy" />
                <input type="hidden" id="hdnCreatedDate" />
                <input type="hidden" id="hdnIsIGSTParty"/>
            </div>-->
        </div>

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/SearchCourier.js"></script>
    <script src="~/Scripts/autocolumn.js"></script>
    <script type="text/javascript">

        $('#PrintReport').columnize({ columns: 2 })

        $(function () {
            $("#txtBookingDate").datepicker();
        });

        //$('#btnCross').click(function () {
        //    $('#formUpdate')[0].reset();
        //});

        $('#btnClose').click(function () {
            $('#formUpdate')[0].reset();
        });

        $('#btnSaveCourrier').click(function () {
            var courrierDetail = {
                CourrierId: $('#hdnCourrierId').val(),
                PartyId: $("#ddlParty").val(),
                Amount: $("#txtAmount").val(),
                Rate: $("#txtRate").val(),
                Weight: $("#txtWeight").val(),
                CNNo: $("#txtCNNumber").val(),
                Distance: $("#txtDistance").val(),
                DepartureDt: $('#txtBookingDate').val(),
                CreatedBy: $('#hdnCreatedBy').val(),
                CreatedDt: $('#hdnCreatedDate').val()
            }

            $.ajax({
                url: '/CourierDetails/UpdateEdit',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(courrierDetail),
                success: function (data) {
                    alert(data);
                    $("#btnSearch").click();
                }
            });
        });
    </script>

    <script type="text/javascript">
        function ConvertJsonDateString(jsonDate) {
            var shortDate = null;
            if (jsonDate) {
                var regex = /-?\d+/;
                var matches = regex.exec(jsonDate);
                var dt = new Date(parseInt(matches[0]));
                var month = dt.getMonth() + 1;
                var monthString = month > 9 ? month : '0' + month;
                var day = dt.getDate();
                var dayString = day > 9 ? day : '0' + day;
                var year = dt.getFullYear();
                shortDate = monthString + '/' + dayString + '/' + year;
            }
            return shortDate;
        }

        function SelectedCourrier(courrierId) {
            showAjaxLoader();
            $.ajax({
                url: `/CourierDetails/EditPopup?id=${courrierId}`,
                type: 'GET',
                contentType: 'html',
                success: function (data) {
                    $('#modalBody').html(data);
                    hideAjaxLoader();
                    //$.each(data.PartyList, function (data, value) {
                    //    $("#ddlParty").append($("<option></option>").val(value.PartyId).html(value.PartyName));
                    //})
                    //$('#hdnCreatedBy').val(data.Courrier.CreatedBy);
                    //$('#hdnCreatedDate').val(ConvertJsonDateString(data.Courrier.CreatedDt));
                    //$('#hdnCourrierId').val(courrierId);
                    //$("#ddlParty").val(data.Courrier.PartyId);
                    //$("#txtAmount").val(data.Courrier.Amount);
                    //$("#txtRate").val(data.Courrier.Rate);
                    //$("#txtWeight").val(data.Courrier.Weight);
                    //$("#txtCNNumber").val(data.Courrier.CNNo);
                    //$("#txtDistance").val(data.Courrier.Location);
                    //$('#txtBookingDate').val(ConvertJsonDateString(data.Courrier.DepartureDt));
                },
                error: function (error) {
                    alert(error);
                    hideAjaxLoader();
                }
            })
        }

        $("#txtWeight").change(function () {
            debugger;
            var arr = $("#txtWeight").val().split('.');
            var txtWeigth = 0;
            if (arr.length > 1) {
                var element1 = arr[0];
                var element2 = arr[1];
                if (parseInt(element2) > 0) {
                    element1 = parseInt(element1) + 1;
                    txtWeigth = element1;
                } else {
                    txtWeigth = arr[0];
                }
            } else {
                txtWeigth = arr[0];
            }
            var txtRate = $("#txtRate").val();
            var amount = StringToInt(txtWeigth) * StringToInt(txtRate);
            $("#txtAmount").val(parseFloat(amount));
        });

        $("#txtRate").change(function () {
            var arr = $("#txtWeight").val().split('.');
            var txtWeigth = 0;
            if (arr.length > 1) {
                var element1 = arr[0];
                var element2 = arr[1];
                if (parseInt(element2) > 0) {
                    element1 = parseInt(element1) + 1;
                    txtWeigth = element1;
                }
                else {
                    txtWeigth = arr[0];
                }
            } else {
                txtWeigth = arr[0];
            }

            var txtRate = $("#txtRate").val();
            var amount = StringToInt(txtWeigth) * StringToInt(txtRate);
            $("#txtAmount").val(amount);
        });
    </script>

}


