@model InTimeCourier.Models.CorrierDetails
@{
    Layout = null;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @if (ViewBag.Success != null)
        {
            <div class="alert alert-success">@ViewBag.Success</div>
        }
        <div class="form-group">
            <div class="col-lg-2">
                @Html.LabelFor(model => model.TrackingNo, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-4">
                @Html.EditorFor(model => model.TrackingNo, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <div class="col-lg-2">
                @Html.LabelFor(model => model.PartyName, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.PartyId, (IEnumerable<SelectListItem>)ViewBag.Party, "Select Party", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-2">
                @Html.LabelFor(model => model.FromDate, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-4">
                @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @id = "txtFromDate", @class = "form-control", @placeholder = "MM/DD/YYYY" } })
            </div>

            <div class="col-lg-2">
                @Html.LabelFor(model => model.ToDate, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-4">
                @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @id = "txtToDate", @class = "form-control", @placeholder = "MM/DD/YYYY" } })
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="col-md-offset-2 col-md-1">
                    <button type="button" id="btnSearch" class="btn btn-primary">Search</button>
                </div>
                <div class="col-md-1">
                    <button type="reset" id="btnClear" class="btn btn-danger">Clear Search</button>
                </div>

                <div class="col-md-1">
                    <a href="@Url.Action("ResultExportToExcel")" class="btn btn-primary">Export Today's Manifesto</a>
                </div>
                <div class="col-md-offset-1 col-md-1">
                    <button type="button" id="btnGenerateInvoice" onclick="GetInvoiceDetails()" class="btn btn-warning" style="display:none">Generate Invoice</button>
                </div>
                <div class="col-md-1">
                    <button type="button" id="btnInvoice" class="btn btn-danger" onclick="GenerateInvoice()" style="display:none">Download Invoice</button>
                </div>
                <div class="col-md-2">
                    <div class='checkbox1' style="display:none" id="chkall">
                        <input type='checkbox' id="allcb" checked/>
                        <label for="allcb">
                            <span id="spnchk" style="margin-left:20%"><strong>Select All</strong></span>
                        </label>
                    </div>
                </div>
            </div>
            </div>
        </div>
}
