@model dynamic
@{
    Layout = null;
    ViewBag.Title = "Courrier List";
    var loggedInUser = (InTimeCourier.Models.AdminUser)Session["LoggedInUser"];
    var cnt = 1;
}

<style tyle="text/css">
    @@media screen {
        p.bodyText {
            font-family: verdana, arial, sans-serif;
        }
    }

    @@media print {
        p.bodyText {
            font-family: georgia, times, serif;
        }
    }

    @@media screen, print {
        p.bodyText {
            font-size: 10pt;
        }
    }
    .checkbox1 input[type="checkbox"] {
        width: auto;
        opacity: 0.00000001;
        position: absolute;
        left: 0;
        margin-left: -20px;
    }

    .checkbox1 label {
        position: relative;
    }

        .checkbox1 label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            margin: 4px;
            width: 22px;
            height: 22px;
            transition: transform 0.28s ease;
            border-radius:11px;
            border: 2px solid #00a15d;
        }

        .checkbox1 label:after {
            content: '';
            display: block;
            width: 24px;
            height: 8px;
            border-bottom: 2px solid #00a15d;
            border-left: 2px solid #00a15d;
            -webkit-transform: rotate(-45deg) scale(0);
            -moz-transform: rotate(-45deg) scale(0);
            -ms-transform: rotate(-45deg) scale(0);
            transform: rotate(-45deg) scale(0);
            position: absolute;
            top: 5px;
            left: 8px;
        }

    .checkbox1 input[type="checkbox"]:checked ~ label::before {
        color: #a2e9cb;
        background-color: #a2e9cb;
       /* background-color: #ffffff;*/
    }

    .checkbox1 input[type="checkbox"]:checked ~ label::after {
        -webkit-transform: rotate(-45deg) scale(1);
        -moz-transform: rotate(-45deg) scale(1);
        -ms-transform: rotate(-45deg) scale(1);
        transform: rotate(-45deg) scale(1);
    }

    /*.checkbox1 label {
        min-height: 34px;
        display: block;
        padding-left: 40px;
        margin-bottom: 0;
        font-weight: normal;
        cursor: pointer;
        vertical-align: sub;
    }*/
    .checkbox1 label {
        /* min-height: 34px; */
        display: block;
       /* padding-left: 40px;*/
        margin-bottom: -8px;
        font-weight: normal;
        cursor: pointer;
        vertical-align: sub;
    }

       /* .checkbox1 label span {
            position: absolute;
            top: 40%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }*/

    .checkbox1 input[type="checkbox"]:focus + label::before {
        outline: 0;
    }
</style>
<div id="SearchCourierlist">
   
    @if (Model != null)
    {
        <div style="width:48.5%;float:left;margin-left:1%;">
            <table class="table table-bordered" id="myTable" style="border: 1px solid #000000;width: 100%; font-size: 10px;">
                <tr>
                    <th style="text-align:center;width:3%;">
                        Select
                    </th>
                    <th style="text-align:center">
                        Sr.No.
                    </th>
                    <th style="text-align:center">
                        Book Date
                    </th>
                    <th style="text-align:center">
                        AWBNo.
                    </th>
                    <th style="text-align:center">
                        Mode
                    </th>
                    <th style="text-align:center">
                        Destination
                    </th>
                    <th style="text-align:center">
                        Weight
                    </th>
                    <th style="text-align:center">
                        ODA
                    </th>
                    <th style="text-align:center">
                        Amount
                    </th>
                    <th id="tdAction">Action</th>
                </tr>
                @if (Model != null)
                {
                    foreach (InTimeCourier.Models.CorrierDetails item in Model.CorrierDetails1)
                    {
                        <tr>
                            <td>
                                <div class='checkbox1'>
                                    <input type='checkbox' id="@item.CourrierId" checked value="@item.CourrierId" onclick="chkbox()"/>
                                    <label for="@item.CourrierId">
                                    </label>
                                </div>
                            </td>
                            <td style="text-align:center">
                                @cnt
                            </td>
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.BookingDate)
                            </td>
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.CNNo)
                            </td>
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.CourierMode)
                            </td>
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.Location)
                            </td>
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.Weight)
                            </td>
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.ODACharges)
                            </td>
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td id="tdActionVal">
                                <a href="#" id="projectImages" onclick="SelectedCourrier(@item.CourrierId)" data-toggle="modal" data-target="#divUpdateCourrier">Edit</a>
                            </td>
                        </tr>
                        cnt++;
                    }
                }
                else
                {
                    <tr>
                        <td colspan="9">No Record found</td>
                    </tr>
                }
            </table>
        </div>
    }
    @if (Model != null)
    {
        if (Model.CorrierDetails2 != null)
        {
            <div style="width:49.5%;float:right;margin-left:1%;">
                <table class="table table-bordered pull-right" style="border:1px solid #000000;font-size:10px;width:100%;" id="myTable1">
                    <tr>
                        <th style="text-align:center;width:3%;">
                            Select
                        </th>
                        <th style="text-align:center">
                            Sr.No.
                        </th>
                        <th style="text-align:center">
                            Book Date
                        </th>
                        <th style="text-align:center">
                            AWBNo.
                        </th>
                        <th style="text-align:center">
                            Mode
                        </th>
                        <th style="text-align:center">
                            Destination
                        </th>
                        <th style="text-align:center">
                            Weight
                        </th>
                        <th style="text-align:center">
                            ODA
                        </th>
                        <th style="text-align:center">
                            Amount
                        </th>
                        <th id="tdAction">Action</th>
                    </tr>
                    @if (Model != null)
                    {
                        int lst = 0;
                        if ((Model.CorrierDetails1.Count+ Model.CorrierDetails2.Count) % 2 != 0)
                        {
                            lst = 1;
                        }
                        foreach (InTimeCourier.Models.CorrierDetails item in Model.CorrierDetails2)
                        {
                            <tr>
                                <td>
                                    <div class='checkbox1'>
                                        <input type='checkbox' id="@item.CourrierId" checked value="@item.CourrierId" onclick="chkbox()"/>
                                        <label for="@item.CourrierId">
                                        </label>
                                    </div>
                                </td>
                                <td style="text-align:center">
                                    @cnt
                                </td>
                                <td style="text-align:center">
                                    @Html.DisplayFor(modelItem => item.BookingDate)
                                </td>
                                <td style="text-align:center">
                                    @Html.DisplayFor(modelItem => item.CNNo)
                                </td>
                                <td style="text-align:center">
                                    @Html.DisplayFor(modelItem => item.CourierMode)
                                </td>
                                <td style="text-align:center">
                                    @Html.DisplayFor(modelItem => item.Location)
                                </td>
                                <td style="text-align:center">
                                    @Html.DisplayFor(modelItem => item.Weight)
                                </td>
                                <td style="text-align:center">
                                    @Html.DisplayFor(modelItem => item.ODACharges)
                                </td>
                                <td style="text-align:center">
                                    @Html.DisplayFor(modelItem => item.Amount)
                                </td>
                                <td id="tdActionVal">
                                    <a href="#" id="projectImages" onclick="SelectedCourrier(@item.CourrierId)" data-toggle="modal" data-target="#divUpdateCourrier">Edit</a>
                                </td>
                            </tr>
                            cnt++;
                        }
                        if (lst == 1)
                        {
                            <tr>
                                <td style="height:31px"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="9">No Record found</td>
                        </tr>
                    }
                </table>
            </div>
        }
    }

    <table class="table table-bordered" style="width: 100%;font-size: 13px;">
        <tfoot>
            <tr>
                <td style="text-align:center"><strong>Bank Name</strong></td>
                <td style="text-align:center">@loggedInUser.BankName</td>
                <td style="text-align:right;width:25%"><b>Net Total &nbsp;</b></td>
                <td style="text-align:right;width:10%"><b><label id="lblNetTotal"></label></b></td>
            </tr>
            <tr>
                <td style="text-align:center"><strong>A/C</strong></td>
                <td style="text-align:center">@loggedInUser.AccountNumber</td>
                <td style="text-align: right; width: 25%">Discount &nbsp; </td>
                <td style="text-align: right; width: 10%"><b><label id="lblDiscount"></label></b></td>
            </tr>
            <tr>
                <td style="text-align:center"><strong>IFSC Code</strong></td>
                <td style="text-align:center">@loggedInUser.IFSCCode</td>
                <td style="text-align: right; width: 25%"><b>Total &nbsp; </b></td>
                <td style="text-align: right; width: 10%"><b><label id="lblTotal"></label></b></td>
            </tr>
            <tr>
                <td style="text-align:center"><strong>PAN No.</strong></td>
                <td style="text-align:center">@loggedInUser.PANNumber</td>
                <td style="text-align: right; width: 25%">Fuel Charges (<label id="partyFuelCharge"></label>) &nbsp; </td>
                <td style="text-align: right; width: 10%"><b><label id="lblFullCahrges"></label></b></td>
            </tr>
            <tr>
                <td style="text-align:center"><strong>GST Number</strong></td>
                <td style="text-align:center">@loggedInUser.GSTNumber</td>

                <td style="text-align: right; width: 25%" id="gstname">  </td>
                <td style="text-align: right; width: 10%" id="gstValue"></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center"><strong>Amount In Words.</strong></td>
                <td style="text-align: right; width: 25%"><b>Grand Total &nbsp;</b></td>
                <td style="text-align: right; width: 10%"><b><label id="lblGrandTotal"></label></b></td>
            </tr>
            <tr>
                <td colspan="2" id="lblGrandTotalInWord" style="text-align:center"></td>
                <td></td>
                <td></td>
            </tr>
            @*<tr>
                    <td><strong>Bank Name</strong></td>
                    <td>Dummy Bank</td>
                    <td style="text-align:right;width:30%"><b>Net Total &nbsp;</b></td>
                    <td style="text-align:right;width:10%"><b><label id="lblNetTotal"></label></b></td>
                </tr>
                <tr>
                    <td><strong>A/C</strong></td>
                    <td>3223232323</td>
                    <td style="text-align: right; width: 30%">Discount &nbsp; </td>
                    <td style="text-align: right; width: 10%"><b><label id="lblDiscount"></label></b></td>
                </tr>
                <tr>
                    <td><strong>IFSC Code</strong></td>
                    <td>ABFNBNF001</td>
                    <td style="text-align: right; width: 30%"><b>Total &nbsp; </b></td>
                    <td style="text-align: right; width: 10%"><b><label id="lblTotal"></label></b></td>
                </tr>
                <tr>
                    <td><strong>PAN No.</strong></td>
                    <td>GFFHGHGJ56656</td>
                    <td style="text-align: right; width: 30%">Fuel Charges (<label id="partyFuelCharge"></label>) &nbsp; </td>
                    <td style="text-align: right; width: 10%"><b><label id="lblFullCahrges"></label></b></td>
                </tr>
                <tr>
                    <td><strong>GST Number</strong></td>
                    <td>GHGH566565HJHJH</td>
                    <td style="text-align: right; width: 30%">C.G.S.T. (9%) &nbsp; </td>
                    <td style="text-align: right; width: 10% "><b><label id="lblBillCGST"></label></b></td>
                </tr>
                <tr>
                    <td colspan="2"><strong>Amount In Words</strong></td>
                    <td style="text-align: right; width: 30%">S.G.S.T. (9%) &nbsp; </td>
                    <td style="text-align: right; width: 10%"><b><label id="lblBillSGST"></label></b></td>
                </tr>
                <tr>

                    <td colspan="2" rowspan="2"><label id="lblGrandTotalInWord"></label></td>
                    <td style="text-align: right; width: 30%">I.G.S.T. (18%) &nbsp;</td>
                    <td style="text-align: right; width: 10%"><b><label id="lblBillIGST"></label></b></td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 30%"><b>Grand Total &nbsp;</b></td>
                    <td style="text-align: right; width: 10%"><b><label id="lblGrandTotal"></label></b></td>
                </tr>*@


            @*<tr>
                    <td><strong>Terms & Conditions</strong></td>
                    <td style="text-align:right;width:30%"><b>Net Total &nbsp;</b></td>
                    <td style="text-align:right;width:10%"><b><label id="lblNetTotal"></label></b></td>
                </tr>
                <tr>
                    <td rowspan="5">
                        <p>
                            1. Kindly notify us in writing regarding any discrepancy in this invoice within 7 days. Otherwise, <br />This invoice shall be deemed to be correct & payable by you.
                            <br />2. All cheques should be drawn Cross 'A/c Payee' in favour of PRIME LOGISTICS .
                            <br />
                            3. Interest @@2% per month will be charged on delayed payments.
                            <br />
                            4. Subject to Mumbai Jurisdiction
                        </p>

                    </td>
                    <td style="text-align: right; width: 30%">Discount &nbsp; </td>
                    <td style="text-align: right; width: 10%"><b><label id="lblDiscount"></label></b></td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 30%"><b>Total &nbsp; </b></td>
                    <td style="text-align: right; width: 10%"><b><label id="lblTotal"></label></b></td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 30%">Fuel Charges (<label id="partyFuelCharge"></label>) &nbsp; </td>
                    <td style="text-align: right; width: 10%"><b><label id="lblFullCahrges"></label></b></td>
                </tr>
                <tr id="trCGST">

                    <td style="text-align: right; width: 30%">C.G.S.T. (9%) &nbsp; </td>
                    <td style="text-align: right; width: 10% "><b><label id="lblBillCGST"></label></b></td>
                </tr>
                <tr id="trSGST">

                    <td style="text-align: right; width: 30%">S.G.S.T. (9%) &nbsp; </td>
                    <td style="text-align: right; width: 10%"><b><label id="lblBillSGST"></label></b></td>
                </tr>
                <tr trIGST>
                    <td><strong>Amount In Words</strong></td>
                    <td style="text-align: right; width: 30%">I.G.S.T. (18%) &nbsp;</td>
                    <td style="text-align: right; width: 10%"><b><label id="lblBillIGST"></label></b></td>
                </tr>
                <tr>
                    <td><label id="lblGrandTotalInWord"></label></td>
                    <td style="text-align: right; width: 30%"><b>Grand Total &nbsp;</b></td>
                    <td style="text-align: right; width: 10%"><b><label id="lblGrandTotal"></label></b></td>
                </tr>*@
        </tfoot>
    </table>
    <input type="hidden" id="hdnPartyName" />
    <input type="hidden" id="hdnAddress" />
    <input type="hidden" id="hdnRecordCount" />
    <input type="hidden" id="hdnPartyGSTNo" />
    <input type="hidden" id="hdnbillno" />
    <input type="hidden" id="hdnbilldate" />
    <input type="hidden" id="hdnSrNo" />
    <input type="hidden" id="hdnInvoiceDt" />
    <input type="hidden" id="hdnInvoiceNumber" />
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/SearchCourier.js?v=1"></script>
   }